<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <th:block th:replace="fragment/config :: configFragment"></th:block>
    </head>
    <header>
        <th:block th:replace="fragment/header :: headerFragment"></th:block>
    </header>
    <body>
        <div>
            <th:block layout:fragment="content"></th:block>
        </div>

        <footer>
            <th:block th:replace="fragment/footer :: footerFragment"></th:block>
        </footer>
    </body>
</html>